.fl {
    display: flex;
}

.ml20 {
    margin-left: 20px;
}

.mt20 {
    margin-top: 20px;
}

fl1 {
    flex: 1;
}

#index-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#index-page .image-container {
    display: flex;
    justify-content: center;
}

#index-page .title {
    font-size: 40px;
    text-align: center;
}

#index-page .items-container {
    display: flex;
    justify-content: center;
}

#index-page .item {
    padding: 20px;
}

#index-page .item-link:hover {
    color: yellowgreen;
}

#persons-page .no-persons-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 24px;
}

#persons-page .persons-list {
    display: flex;
    flex-wrap: wrap;
}

#persons-page .person {
    width: 500px;
    padding: 20px;
    margin: 20px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#persons-page .person-img {
    width: 160px;
    height: auto;
}

#persons-page .person-info, #person-page .person-info {
    margin-left: 20px;
}

#persons-page .person-info-title, #person-page .person-info-title {
    color: lightslategrey;
}

#person-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

#person-page .person-title {
    font-size: 60px;
    padding-bottom: 10px;
}

#person-page .person-img {
    max-height: 600px;
}

#admin-page {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#admin-page .person-wrapper-block {
    width: 500px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#admin-page .persons-blocks-wrapper {
    display: flex;
    flex-direction: column;
}

#admin-page .divider {
    width: 20px;
}

#admin-page .hdivider {
    height: 20px;
}

#signup-page {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#signup-page .signup-form {
    width: 500px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

