<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body id="admin-page">
  
  <!-- ADD NEW PERSON -->
  <div class="person-wrapper-block">
    <form action="/admin/add" method="post">
      <div class="form-group">
        <h1>Add new person</h1>
      </div>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input class="form-control" id="firstName" placeholder="Enter first name" name="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input class="form-control" id="lastName" placeholder="Enter last name" name="lastName" required>
      </div>
      <div class="form-group">
        <label for="birthday">Birthday</label>
        <input type="date" class="form-control" id="birthday" placeholder="Enter birthday" name="birthday" required>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" placeholder="Enter age" name="age" value="0" min="0" max="120" required>
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" name="gender" id="gender" required>
          <option value="m">M</option>
          <option value="f">F</option>
        </select>
      </div>
      <div class="form-group">
        <label for="img">Image URL</label>
        <input class="form-control" id="img" placeholder="Enter image url" name="img" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <!-- DIVIDER -->
  <div class="divider"></div>

  <div class="persons-blocks-wrapper">
    <!-- LOAD PERSONS FROM JSON -->
    <div class="person-wrapper-block">
      <form action="/admin/loadAll" method="post">
        <div class="form-group">
          <h1>Load persons from JSON</h1>
        </div>
        <button type="submit" class="btn btn-primary">Load</button>
      </form>
    </div>

    <div class="hdivider"></div>

    <!-- SEARCH PERSONS FROM JSON -->
    <div class="person-wrapper-block search-persons-block">
      <form action="/admin/search" method="post">
        <div class="form-group">
          <h1>Search persons</h1>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search persons" name="name">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>


  </div>

</body>
</html>