<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
  <link rel="stylesheet" href="/css/auto-complete.css">
  <script src="/js/auto-complete.min.js"></script>
  <script src="/js/admin.helper.js"></script>
</head>

<body id="admin-page">

  <!-- ADD NEW PERSON -->
  <div class="person-wrapper-block">
    <form action="/admin/add" method="post">
      <div class="form-group">
        <h1>Add new person</h1>
      </div>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input class="form-control" id="firstName" placeholder="Enter first name" name="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input class="form-control" id="lastName" placeholder="Enter last name" name="lastName" required>
      </div>
      <div class="form-group">
        <label for="birthday">Birthday</label>
        <input type="date" class="form-control" id="birthday" placeholder="Enter birthday" name="birthday" required>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" placeholder="Enter age" name="age" value="0" min="0"
          max="120" required>
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" name="gender" id="gender" required>
          <option value="m">M</option>
          <option value="f">F</option>
        </select>
      </div>
      <div class="form-group">
        <label for="img">Image URL</label>
        <input class="form-control" id="img" placeholder="Enter image url" name="img" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="persons-blocks-wrapper -columns ml20">

    <!-- CREATE DATABASES -->
    <div class="person-wrapper-block">
      <div class="form-group">
        <h1>Create databases</h1>
      </div>
      <div class="fl">
        <form action="/admin/createMySqlDB" method="post">
          <button type="submit" class="btn btn-primary">Create MySql database</button>
        </form>
        <form class="ml20" action="/admin/createMongoDB" method="post">
          <button type="submit" class="btn btn-primary">Create MongoDB database</button>
        </form>
      </div>
    </div>

    <!-- LOAD PERSONS DATA -->
    <div class="person-wrapper-block">
      <div class="form-group">
        <h1>Load persons data</h1>
      </div>
      <div class="fl">
        <form action="/admin/loadToMySql" method="post">
          <button type="submit" class="btn btn-primary">Load MySql data</button>
        </form>
        <form class="ml20" action="/admin/loadToMongo" method="post">
          <button type="submit" class="btn btn-primary">Load MongoDB data</button>
        </form>
      </div>
    </div>

    <!-- SEARCH PERSONS -->
    <div class="person-wrapper-block">
      <form action="/admin/search" method="post">
        <div class="form-group">
          <h1>Search persons</h1>
        </div>
        <div class="input-group">
          <input type="text" id="search-persons" class="form-control" placeholder="Search persons" name="name">
        </div>
      </form>
    </div>

    <!-- PERSONS CLEANUP JOB -->
    <div class="person-wrapper-block">
      <div class="form-group">
        <h1>Run jobs</h1>
      </div>
      <div class="input-group">
        <button id="persons-cleanup-job" class="btn btn-primary">Run persons cleanup job</button>
      </div>
    </div>

  </div>
</body>

</html>