<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body id="index-page">
    <div class="image-container">
        <img src="/img/node.png">
    </div>
    <div class="title"><%=title%></div>
    <div class="items-container">
        <% for(let item of links) { %>
        <div class="item">
            <a class="item-link" href="<%=item.link%>"><%=item.title %></a>
        </div>
    <% } %>
    </div>
</body>
</html>