<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body id="item-page">
    <div class="item-title"><%=item.title %></div>
    <img class="item-img" src="<%=item.src%>">
</body>
</html>