<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body id="not-authorized-page">
    <h3>You are not authorized to view the content</h3>
    <h5>Please <a href="/users">sign in</a> first</h5>
</body>
</html>