<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body id="item-page">
    <div class="item-title"><%=person.firstName + ' ' + person.lastName %></div>
    <img class="item-img" src="<%=person.img%>">
</body>
</html>