<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body id="home-page">
    <div>
        <% for (var i = 0; i < persons.length; i++ ) { %>
        <div class="item">
            <img class="item-img" src="<%=persons[i].img%>">
            <a class="link" href="<%='/persons/' + persons[i].id%>"><%=persons[i].firstName + ' ' + persons[i].lastName %></a>
        </div>
        <% } %>
    </div>
</body>
</html>