<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" href="/img/favicon.ico">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/vanillatoasts.css" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet">
<script src="/js/lib/socket.io.min.js"></script>
<script src="/js/socketio.helper.js"></script>
<script src="/js/vanillatoasts.js"></script>

<title>Learn Node</title>